{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<body style="background-color:#F7E1D7; font-size: 15px;">
    <!-- <div class="row" style="margin-top: 50px;"> -->
      <div class="col-md-6"><img src="https://cdn.pixabay.com/photo/2018/04/07/18/06/diary-3299128_960_720.jpg" alt="" height ='660px' width= '100%'> </div>
      <div class="col-md-6" style=" width:30%; height:40%; margin-top: 150px; margin-left:50px; font-family: 'Baskervville', serif; font-size: 18px; text-decoration: none; ">
  
        {{wtf.quick_form(registration_form)}}
  
      </div>
    <!-- </div> -->
</body>

{% endblock%}

